   <!-- Signup Form -->
   <!DOCTYPE html>
 
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        <!-- Boxicons CSS -->
        <link rel="stylesheet" href="../../assets/css/signup.css">
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>

 <body>
    <section class="container forms">
    <div class="form signup">
    <div class="form-content">
        <header>Signup</header>
        <form action="/auth/signup" method="POST">

            <% if(typeof errors != 'undefined') { %>
                <% errors.forEach(function(error) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= error.msg %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% }); %>
            <% } %>

            <div class="field input-field">
                <input type="text" name="firstName" placeholder="Enter your first name" class="input" value="<%= typeof firstName != 'undefined' ? firstName : '' %>" required autofocus>
            </div>

            <div class="field input-field">
                <input type="text" name="lastName" placeholder="Enter your last name" class="input" value="<%= typeof lastName != 'undefined' ? lastName : '' %>" required>
            </div>


            <div class="field input-field">
                <input type="email" name="email" placeholder="Email" class="input"  value="<%= typeof email != 'undefined' ? email : '' %>" required>
            </div>

            <div class="field input-field">
                <input type="password" name="password1" placeholder="Create password" class="password"   value="<%= typeof password1 != 'undefined' ? password1 : '' %>" required>
            </div>

            <div class="field input-field">
                <input type="password" name="password2" placeholder="Confirm password" class="password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" required>
                <i class='bx bx-hide eye-icon'></i>
            </div>
           
            <div class="field input-field">
                <label for="role" class="form-label">Signup as</label>
                 </br>
                <select class="form-select" name="role" id="role">
                    <option value="donor">Donor</option>
                    <option value="agent">Agent</option>
                    <option value="admin">Admin</option>
                </select>
            </div>

            <div class="field button-field">
                <button type="submit">Submit</button>
            </div>
        </form>

        <div class="form-link">
            <span>Already have an account?</span>
			<a href="/auth/login">Login here</a>
        </div>
    </div>

    

    </div>
    </section>

</body>
</html>