<html>
<main>
<body>
<head>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<script src="https://kit.fontawesome.com/2dc22d6664.js" crossorigin='anonymous'></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../assets/css/adminstyles.css">
</head>
<style>
.mydiv2{
  border: 0px outset white ;
  height:10%;
  width:95%;
  border-radius: 6px;
  background-color: #FFFFFF ;
  position: absolute;
  left: 0%;
  top:  15%;
   margin:22px;
padding:0px;
 
}
</style>
</head>
<a href="/admin/dashboard"> 
	<i class='fas fa-arrow-alt-circle-left' style='font-size:24px;color:#707070;'></i>
	
</a>
<h1>Previous Donations</h1>
<div class="mydiv2">
<table  width=100% height=100% bgcolor=#FFFFFF align="center" >
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Donor name</th>
						<th scope="col">Food type</th>
						<th scope="col">Quantity</th>
						<th scope="col">Status</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<% for(let i=0; i<previousDonations.length; i++) { %>
						<tr>
							<th scope="row"> <%= i+1 %> </th>
							<td> <%= previousDonations[i].donor.firstName + " " + previousDonations[i].donor.lastName %> </td>
							<td> <%= previousDonations[i].foodType %> </td>
							<td> <%= previousDonations[i].quantity %> </td>
							<td class="fw-bold text-<%= previousDonations[i].status %>"> <%= previousDonations[i].status %> </td>
							<td><a href="/admin/donation/view/<%= previousDonations[i]._id %>" class="btn">View</a></td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		
	</div>
</main>