<main>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
	<script src="https://kit.fontawesome.com/2dc22d6664.js" crossorigin='anonymous'></script>
   <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/agentstyles.css">
    </head>
    <style>
        	body {
  background-color:#E4E9F7;
}
h1{ color:#707070; 
}
h1{ text-align: center;
}
h1{
  font-family: 'Poppins', sans-serif;
}

    .mydiv1{
      border: 0px outset white;
      border-radius: 25px;
      background-color: #fff ;
      position: absolute;
      left: 23%;
      top:14%;
       margin:25px;
    padding:40px;
    color:#707070;
    }
    </style>
    </head>
    </div>
    <a href="/agent/collections/pending"> 
		<i class='fas fa-arrow-alt-circle-left' style='font-size:24px;color:#707070;'></i>
		
	</a>
    <h1>collection</h1>
     <font size="+1">
    <div class="mydiv1">
       <font face="Poppins"> 
             <div class="mb-2">
            <span>Name:</span>
            <span><%= collection.donor.firstName + " " + collection.donor.lastName  %></span>
        </div>
        
        <div class="mb-2">
            <span>Phone No.:</span>
            <span><%= collection.phone %></span>
        </div>
        
        <div class="mb-2">
            <span>Address:</span>
            <span><%= collection.address %></span>
    
        </div>
        <div class="mb-2">
            <span>Quantity:</span>
            <span><%= collection.quantity %></span>
    </div>
        
    <div class="mb-2">
            <span>Food type::</span>
            <span><%= collection.foodtype %></span>
        </div>
        <div class="mb-2">
            <span>Date:</span>
            <span><%= collection.pickupDate %></span>
    </div>
    <div class="mb-2">
            <span>Time of Pickup:</span>
            <span><%= collection.pickupTime %></span>
    </div>
    <div class="mb-2">
            <span>Status:</span>
            <span class="fw-bold text-<%= collection.status %>"><%= collection.status %></span>
    </div>
			
			<% if(collection.status == "assigned" && collection.adminToAgentMsg != "") { %>
				<div class="mb-2">
					<span>Message from Admin:</span>
					<div class="ms-3"><%= collection.adminToAgentMsg %></div>
				</div>
			<% } %>
			
		</div>
		
	</div>
</main>