<script src="https://kit.fontawesome.com/2dc22d6664.js" crossorigin='anonymous'></script>
<link rel="stylesheet" href="../../assets/css/agentstyles.css">
<a href="/agent/dashboard"> 
		<i class='fas fa-arrow-alt-circle-left' style='font-size:24px;color:#707070;'></i>
</a>
		<h1>Pending Collections</h1>
		<div class="mydiv2">
			<table  width=100% height=100% bgcolor=#FFFFFF align="center" >
				<thead>
					<tr>
						<th scope="col">Donor No.</th>
						<th scope="col">Address to collect</th>
						<th scope="col">Date of pickup</th>
						<th scope="col">Time of pickup</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<% for(let i=0; i<pendingCollections.length; i++) { %>
						<tr>
							<th scope="row"> <%= i+1 %> </th>
							<td> <%= pendingCollections[i].address %> </td>
							<td> <%= pendingCollections[i].pickupDate %> </td>
							<td> <%= pendingCollections[i].pickupTime %> </td>
							<td>
								<a href="/agent/collection/view/<%= pendingCollections[i]._id %>" class="btn">View</a>
								<a href="/agent/collection/collect/<%= pendingCollections[i]._id %>" class="btn">/Collect</a>
							</td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		
		

