<main>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src="https://kit.fontawesome.com/2dc22d6664.js" crossorigin='anonymous'></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../assets/css/agentstyles.css">
</head>
<style>
.mydiv1{
  border: 0px outset white ;
  height:380px;
  width:500px;
  border-radius: 25px;
  background-color: #fff;
  color:#707070;
  position: absolute;
  left: 27%;
  top:  10%;
  margin:25px;
  padding:20px;
 
}

</style>

</head>
	<a href="/agent/dashboard"> 
		<i class='fas fa-arrow-alt-circle-left' style='font-size:24px;color:#707070;'></i>
	</a>

 
</div>
      <font size="+1">
<div class="mydiv1">
<font face="Poppins">  
		
		<form action="/agent/profile?_method=PUT" method="POST">
			<div class="row">
				<div class="col-sm-6 mb-4">
					<label for="first-name" class="form-label">First Name</label>
					<input type="text" name="agent[firstName]" class="form-control" id="first-name"  placeholder="Enter first name.."  value="<%= currentUser.firstName %>" required>
				</div>
<br>
				<div class="col-sm-6 mb-4">
					<label for="last-name" class="form-label">Last Name</label>
					<input type="text" name="agent[lastName]" class="form-control" id="last-name"  placeholder="Enter first name.."  value="<%= currentUser.lastName %>" required>
				</div>
<br>
			<div class="mb-4">
				<label for="email" class="form-label">Email</label>
				<input type="email" id="email"  class="form-control" placeholder="Enter Email.." value="<%= currentUser.email %>" disabled >
			</div>
<br>
			<div class="mb-4">
				<span class="d-inline-block me-2">Gender:</span>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="agent[gender]" id="male" value="male" <% if(currentUser.gender=='male'){%> checked <%}%>>
					<label class="form-check-label" for="male">Male</label>
				</div>

				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="agent[gender]" id="female" value="female" <% if(currentUser.gender=='female'){%> checked <%}%>> 
					<label class="form-check-label" for="female">Female</label>
				</div>
<br>
               <div class="mb-4">
					<label for="address" class="form-label">Address</label>
					<input type="text" name="agent[address]" class="form-control"placeholder="Enter address.." id="address"  value="<%= currentUser.address %>" required>

                </div>
<br>
				<div class="mb-4">
					<label for="phone" class="form-label">Phone</label>
					<input type="number" name="agent[phone]" class="form-control"placeholder="Enter Phone.." id="phone" value="<%= currentUser.phone %>" required>

                </div>
<br>
			<button type="submit">Update</button>
			<br>
		</form>
		
		
	
</div>	
</main>
